{% load staticfiles %}
<meta charset="utf-8">
<meta content="movies watch online" name="keywords">
<meta content="width=device-width, initial-scale=1" name="viewport">

<!-- BOOTSTRAP -->
<link href="{% static "movies/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

<!-- STAR RATING -->
<link href="{% static "movies/star-rating/css/star-rating.min.css" %}" media="all" rel="stylesheet" />

<!-- FONTAWESOME -->
<link href="{% static "movies/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

<!-- MOVIEWATCH -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="{% static "movies/css/moviewatch.css" %}" rel="stylesheet">
<link href="{% static "movies/css/custom-bootstrap.css" %}" rel="stylesheet">

