<div class="navbar-header">
  <button class="navbar-toggle collapsed" data-target="#nav-collapse" data-toggle="collapse" type="button">
    <span class="sr-only">Toggle nav</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="{% url 'movies:index' %}">
    <i class="fa fa-fw fa-video-camera"></i>
    Movie Watch
  </a>
</div>
<div class="collapse navbar-collapse" id="nav-collapse">
  <!-- NAV LINKS -->
  <ul class="nav navbar-nav">
    <!-- <li class="active">
      <a href="#">Catálogo</a>
    </li> -->
  </ul>
  <form action="#" role="search" class="navbar-form navbar-left search">
    <div class="form-group">
      {{ filter.form.name }}
      <!-- <input type="text" class="form-control" name="name"
        placeholder="Teclea el nombre de la película..."> -->
    </div>
  </form>
  <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
    <li class="dropdown">
      <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            {{ user.username }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            Cuenta
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="{% url 'movies:logout' %}">
            <i class="glyphicon glyphicon-off"></i>
            Logout
          </a>
        </li>
      </ul>
    </li>
    {% else %}
    <li>
      <a href="{% url "movies:login" %}">Login</a>
    </li>
    {% endif %}
  </ul>
</div>