<!DOCTYPE html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign up</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body{
      background-color: #2F3238;
    }
    label{
      color: white;
    }
    .button {
     
    /*Step 2: Basic Button Styles*/
    display: block;
    height: 50px;
    width: 150px;
    background: #DE5D62;
    border: 0px solid rgba(33, 68, 72, 0.59);
    color: #000000;
    font-size: 150%;
    
}
.form-control{
  background-color: #26292E;
  border: #26292E;
}
    </style>

</head>
<body>
  <div class="title">
    <h1 align  ="center" ><font color="#DE5D62">Are you ready?</font></h1>
  </div>
  <br></br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Username:</label>
    <div class="col-xs-8">
      <input type="username" class="form-control input-lg" id="inputEmail3" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">Password:</label>
    <div class="col-xs-8">
      <input type="password" class="form-control input-lg" id="inputPassword3" placeholder="Password">
    </div>
  </div>
   <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">First Name:</label>
    <div class="col-xs-8">
      <input type="firstname" class="form-control input-lg" id="inputPassword3" placeholder="First Name">
    </div>
  </div>
   <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">Last Name:</label>
    <div class="col-xs-8">
      <input type="lastname" class="form-control input-lg" id="inputPassword3" placeholder="Last Name">
    </div>
  </div>
   <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">Email:</label>
    <div class="col-xs-8">
      <input type="email" class="form-control input-lg" id="inputPassword3" placeholder="Email">
    </div>
  </div>
   <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">Country:</label>
    <div class="col-xs-4">
      <select class="form-control input-lg">
  <option>1</option>
</select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
 
    

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="button">Sign in</button>
    </div>
  </div>
</form>
</div>
 </div>
  </div>  	
</body>
</html>